*{
    margin: 0 auto;
    padding: 0px;
    box-sizing:border-box;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/Poppins-Regular.ttf');
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

/*NAVBAR*/
.sticky{
  position: sticky;
  top: 0;
  background-color: #213222;
  padding: 10px;
  font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #213222;
    padding: 30px;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style-type: none;
}


/*TAMPILAN AWAL*/
.container{
  background-color: #DAFEDC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img{
  margin-left: 20px;
  width: 40%;
  height: 40%;
}

.text{
  font-size: 20px;
  margin-right: 350px;
}

.choose{
  font-size: 25px;
  font-family: 'poppins';
  margin-top: 15px;
}

/*SEARCH*/
.seacrh{
  position: right;
  text-align: center;
  padding: 20px;
  display: flex;
  margin-bottom: 100px;
}
.atas{
  justify-content: space-between;
  display: flex;
  padding: 50px;
}

.search input {
  position: right;
  width: 500px;
  height: 10px;
  border: 1px solid #000000;
  border-radius: 50px;
  padding: 30px;
}
/*CATEGORIES*/
  .kategori {
    display: flex;
    justify-content: center;
  }
  
  .tanaman-hias {
    background-color: #fff;
    padding: 2px;
    border-radius: 8px;
    width: 600px;
    height: 100px;
    text-align: center;
    margin-top: 300px;
    display: absolute;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  }
  .tanaman-hias img{
    margin-top: -200px;
    margin-left: -350px;
    height: 300px;
  }
  .tanaman-hias a{
    z-index: 999;
    font-family: 'poppins' ;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    justify-content: center;
    margin: -100px;
  }

  .tanaman-pangan {
    background-color: #fff;
    padding:2px;
    border-radius: 8px;
    width: 600px;
    height: 100px;
    text-align: center;
    margin-top: 300px;
    display: absolute;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
  }
  
  .tanaman-pangan img{
    margin-top: -200px;
    margin-left: -150px;
    height: 300px;
  }

  .tanaman-pangan a{
    z-index: 999;
    font-family: 'poppins' ;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    justify-content: center;
    margin: 50px;
  }

  /*PRODUCT*/
  .tanaman1-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .tanaman1{
    list-style-type: none;
    text-align: center;
  }

  .tanaman1 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman2{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman2 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman3{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman3 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman4{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman4 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }
 
  .tanaman2-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .tanaman5{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman5 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman6{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman6 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman7{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman7 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman8{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman8 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman3-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .tanaman9{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman9 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman10{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman10 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman11{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman11 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman12{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman12 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman4-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .tanaman13{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman13 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman14{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman14 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman15{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman15 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman16{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman16 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman5-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .tanaman17{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman17 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman18{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman18 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman19{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman19 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

  .tanaman20{
    list-style-type: none;
    text-align: center;
    text-decoration: none;
  }

  .tanaman20 a{
    font-size: 20px;
    font-family: 'poppins';
    color: #000000;
    text-decoration: none;
  }

