*{
    margin: 0 auto;
    padding: 0px;
    box-sizing:border-box;
}
@font-face {
  font-family: 'poppins';
  src: url('../assets/Poppins-Regular.ttf');
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

/*NAVBAR*/
nav{
    display: flex;
    justify-content: space-between;
    background-color: #213222;
    padding: 30px;
    width: 100%;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

/*TAMPILAN AWAL*/
.container{
  background-color: #DAFEDC;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text{
  margin-left: 20px;
}

img{
  width: 400px;
  height: 400px;
}

/*SEARCH*/
.seacrh{
  position: right;
  text-align: center;
  padding: 20px;
}

.search p {
  position: left;
  font-size: 1em;
  color: #666;
  margin-bottom: 1em;
}

.search-bar {
  position: right;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.search-bar input {
  position: right;
  padding: 20px;
  width: 500px;
  border: 1px solid #000000;
  border-radius: 50px;
}

.search-bar button {
  position: right;
  padding: 10px 10px;
  background-color: #ffffff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*PRODUCT*/
.tanaman1-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.tanaman1{
  list-style-type: none;
  text-align: center;
}

.tanaman1 img{
  width: 250px;
  height: 250px;
}

.tanaman1 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman2{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman2 img{
  width: 250px;
  height: 250px;
}

.tanaman2 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman3{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman3 img{
  width: 250px;
  height: 250px;
}

.tanaman3 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman4{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman4 img{
  width: 250px;
  height: 250px;
}

.tanaman4 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman2-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.tanaman5{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman5 img{
  width: 250px;
  height: 250px;
}

.tanaman5 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman6{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman6 img{
  width: 250px;
  height: 250px;
}

.tanaman6 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman7{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman7 img{
  width: 250px;
  height: 250px;
}

.tanaman7 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman8{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman8 img{
  width: 250px;
  height: 250px;
}

.tanaman8 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman3-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.tanaman9{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman9 img{
  width: 250px;
  height: 250px;
}

.tanaman9 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman10{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman10 img{
  width: 250px;
  height: 250px;
}

.tanaman10 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman11{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman11 img{
  width: 250px;
  height: 250px;
}

.tanaman11 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}

.tanaman12{
  list-style-type: none;
  text-align: center;
  text-decoration: none;
}

.tanaman12 img{
  width: 250px;
  height: 250px;
}

.tanaman12 a{
  font-size: 20px;
  font-family: 'poppins';
  color: #000000;
  text-decoration: none;
}